.for-you-page {
  margin-top: 60px;
  height: 300px;
  width: 100%;
  padding: 10px;
  color: #fff;

  &--title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;

    & p:hover,
    & span:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    span {
      color: #ccc;
    }
  }

  &--playlists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item {
      padding: 15px;
      background-color: #000;
      width: 200px;
      height: 300px;
      border-radius: 5px;


      & + .for-you-page--playlists__item {
        margin-left: 20px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;

        & .playlist--thumbnail i {
          display: block;
        }
      }

      

      .playlist--thumbnail {
        width: 170px;
        height: 190px;
        border-radius: 5px;
        object-position: center;
        position: relative;


        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 5px;
        }

        & i {
          display: none;
          position: absolute;
          font-size: 50px;
          background-color: #000;
          border-radius: 100%;
          color: #32a924;
          text-align: center;
          bottom: 10px;
          right: 10px;
          transition: ease-in 0.2s;
          box-shadow: 0px 1px 4px 2px  rgba(0,0,0,0.5)
        }
      } //thumbnail

      & .playlist--title {
        font-size: 1.6rem;
        font-weight: bold;
        padding: 10px;
        padding-left: 0;
      }

      & .playlist--desc {
        color: #999;
        word-spacing: 1px;
        font-size: 1.2rem;
      }
    } //item
  }
}