.sidebar {
  position: fixed;
  background-color: #000;
  top: 0;
  height: 100%;
  width: 240px;
  padding: 0 20px;
  padding-top: 20px;
  color: grey;
  z-index: 1;


  & .logo {
    color: white;
    width: 100%;
    height: 60px;

    & svg {
      width: 70%;
    }
  }
  //logo


  // nav
  nav {
    margin-top: 10px;
    & .nav--item {
      display: flex;
      height: 32px;

      & + .nav--item {
        margin-top: 10px;
      }

      &.active {
        color: white;
      }

      &__icon {
        width: 32px;
        height: 32px;
        text-align: center;
        

        & i {
          font-size: 2.5rem;
        }
      }

      &__icon:hover {
        color: white;
        cursor: pointer;
      }

      &__title{
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 15px;
        width: 100%;
        line-height: 32px;

        &:hover {
          color: white;
          cursor: pointer;
        }
      }
    }

    & + nav {
      margin-top: 25px;
    }
  } // nav

  // .sidebar--playlist (__list)
  .sidebar--playlist {
    width: 100%;
    font-size: 1.4rem;
    border-top: 1px rgba(128, 128, 128, 0.333) solid;
    margin-top: 10px;
    padding-top: 10px;
    height: calc(100% - 390px);
    overflow-y: auto;
    height: 480px;

    &__list {
      list-style-type: none;

      & li {
        height: 32px;
        text-align: left;
        line-height: 32px;

        &:hover {
          color: white;
          cursor: grab;
        }
      }
    }
  }


}